@import 'utils/libs';
@import 'utils/vars';
@import 'utils/fonts';
@import 'utils/mixins';

.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
        color: darken(blue, 10%);
    } 
}