.contact-us {
    background: url("contact-us-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    max-width: 908px;
    padding: 20px;
    width: 100%;
}

@media (min-width: 420px){
    .contact-us{
        text-align: left;
    }
}

@media (min-width: 752px){
    .contact-us{
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media (min-width: 956px){
    .contact-us{
        padding: 40px;
    }
}

@media (min-width: 1200px){
    .contact-us{
        padding: 70px 53px;
    }
}