.page__title {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 752px){
    .page__text {
        line-height: 51px;
        white-space: 23px;
    }
}

@media (min-width: 1366px){
    .page__title {
        line-height: 66px;
        white-space: 30px;
    }
}