.activity-descriptions__link {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 9px 34px;
    text-decoration: none;
    margin-top: 10px;
}

@media (min-width: 420px) {
    .activity-descriptions__link {
        margin-top: 20px;
    }
}

@media (min-width: 956px) {
    .activity-descriptions__link {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    .activity-descriptions__link {
        margin-top: 40px;
    }
}
