.header__menu-button{
    display: inline-block;
}


@media (min-width: 752px) {
    .header__menu-button{
        margin-bottom: 10px;
    }
}

@media (min-width: 956px) {
    .header__menu-button{
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .header__menu-button{
        margin-bottom: 48px;
    }
}
