.activity-descriptions {
    box-sizing: border-box;
    width:100%;
    max-width: 752px;
    padding: 20px;
}

.activity-descriptions:nth-child(1) {
    background: url("best-starting-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.activity-descriptions:nth-child(2) {
    background: url("verified-dummy-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}



@media (min-width: 956px) {
    .activity-descriptions {
        padding: 40px;
        padding-right: 70px;
    }
}

@media (min-width: 1200px){
    .activity-descriptions {
        padding: 53px;
        padding-right: 162px;
    }
}