.contact__form {
    font: 1rem $italic-font;
    max-width: 33.75rem;
    width: 100%;
    height: 22.75rem;
    .input-email, .textarea {
        background-color: #f2f2f2;
        border-radius: 0rem;
        border: 1px solid #d9d9d9;
        padding: 1.5rem;
        &::placeholder{
            color: #666666;
        }
    }
    .textarea {
        height: 14.625rem; 
        resize: none;
    }
    .input-email {
        @media(max-width: 576px){
            max-width: inherit;
        }
        max-width: 19.5rem;
        height: 3.75rem;
    }
    .btn {
        max-width: 12.8125rem;
        height: 3.75rem;

        border-radius: 0rem;
        border: 2px solid white;
        background-color: #6995a9;
        color: white;
        font: 1rem $title-font;
        text-align: center;
        text-transform: uppercase;
        @include box-shadow(0px, 2px, 10px, 0px, rgba(0, 0, 0, 0.25));
    }
}