//_header.scss

.header{
    background-image: url('../images/header-image.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    height: calc(100vh - #{$navbar-height});
    @media(min-width: 768px){
        height: calc(100vh - #{$navbar-md-height});
    }

    @at-root .header__text {
        align-self: flex-end;
        grid-row: 4/7;
        grid-column: 1;
        margin-bottom: 0.25rem;
        @media(min-height: 768px){
            align-self: center;
        }
        .page-description{
            color: $default-font-color;
            margin-top: 1rem;
            font-family: $italic-font;
            font-size: 1rem;
        }
    }
    
    @at-root .down-button {
        align-self: flex-end;
        grid-row: 8/10;
       grid-column: 1;
    }
}







