//_mixins.scss
@mixin box-shadow($x, $y, $blur, $spread, $color){
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}