.navbar{

    background-color: white;
    @media (min-width: 768px){
        line-height: 4.25rem;
    }
    @at-root .navbar-brand {
        color: $default-font-color;
        font-family: $brand-font;
        font-size: 1.56rem;
    }
    
    @at-root .navbar-toggler-icon{
        background-image: url('../images/menu-button.svg');
    }

    @at-root .nav-link {

    font-family: $link-font;
    font-size: 0.75rem;
    color: $nav-link-color;

    @media(min-width: 768px){
            margin-right: 6.25rem;
            &:last-child{
                margin-right: 0rem;
            }
            &:first-child{
                margin-left: 1rem;
            }
        }
    }
    
}




