.section-header {
    text-align: center;
    max-width: 33.375rem;
    margin: auto;
    padding-top: 2.70rem;
    padding-bottom: 2.370rem;
    .h2{
        font-size: 1.875rem;
    }
    .section-description{
        font-family: $text-font;
        padding: 0 1rem;
    }
    .h2::after{
        content: "";
        display: block;
        background-color: $default-font-color;
        height: 0.1875rem;
        width: 15rem;
        margin: 1rem auto 1.75rem auto;
    }
}
 