$brand-font: 'Gotham-Book', sans-serif;
$link-font: 'Gotham-Medium', sans-serif;
$title-font: 'Gotham-Bold', sans-serif;
$text-font: 'ProximaNova', sans-serif; 
$italic-font: 'GeorgiaItalic', sans-serif;

$default-font-color:#303030;
$nav-link-color: #666666;
$footer-bg-color: #666666;
$footer-text-color: #999999;
$container-width: 58.125rem;

$navbar-height: 63px;
$navbar-md-height: 100px;