//main.scss
@import "variables", "mixins", "../fonts/fonts";

@import "header", "navbar", "section-header", "footer";
@import "sections/work", "sections/team", "sections/contact", "contact__form";

body{
    color: $default-font-color;
}
.container{
    max-width: $container-width;
}

.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: $title-font;
    text-transform: uppercase;
}