.page__title_size_s {
    font-size: calc( (100vw - 360px)/(1366 - 360) * (40 - 26) + 26px);
}

@media (min-width: 1366px){
    .page__title_size_s {
        line-height: 57.75px;
        font-size: 40px;
    }
}