.contact-us__input {
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    margin-top: 8px;
    padding: 7px 20px;
    width: 100%;
    max-width: 300px;
}

.contact-us__input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff ;
}

.contact-us__input:focus{
    outline: none;
}

.contact-us__input:focus::placeholder{
    color: white;
    opacity: 0.5;

}

.contact-us__input::placeholder {
    color: white;
}

.contact-us__input[name=message]{
    resize: none;
    height: 159px;
}

@media (min-width: 420px){
    .contact-us__input[name=message]{
        resize: none;
        max-width: 616px;
    }
}

@media (min-width: 956px){
    .contact-us__input {
        margin-right: 11px;
        padding: 11.5px 24px;
    }
}

@media (min-width: 1200px){
    .contact-us__input {
        margin-top: 13px;
        margin-right: 11px;
    }
}
