.page__text {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 752px){
    .page__text {
        line-height: 22px;
        white-space: 23px;
    }
}

@media (min-width: 1366px){
    .page__text {
        line-height: 28px;
        white-space: 30px;
    }
}