.header__info{
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding: 20px;
}

@media (min-width: 752px) {
    .header__info{
        padding: 5px;
    }
}


@media (min-width: 956px) {
    .header__info{
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .header__info{
        padding: 54px;
        padding-right: 76px;
    }
}


