.designed-by {
    display: flex;
    flex-flow: column nowrap;
    background: url("designed-by-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 752px) {
    .designed-by {
        grid-row-start: 1;
        justify-content: space-between;
        padding: 20px;
    }
}

@media (min-width: 952px) {
    .designed-by {
        padding: 40px;
    }
}

@media (min-width: 1200px) {
    .designed-by {
        padding: 70px 45px ;
    }
}

@media (min-width: 1364px) {
    .designed-by {
        width: 468px;
    }
}
