.activities {
    display: flex;
    flex-flow: column nowrap;
    background: url("activities-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 752px){
    .activities {
        justify-content: space-between;
        max-width: 614px;
    } 
}

@media (min-width: 956px){
    .activities {
        padding: 40px;
        padding-right: 70px;
    } 
}

@media (min-width: 1200px) {
    .activities  {
        padding: 53px;
        padding-right: 102px;
    }
}

