.contact {
    padding-bottom: 4.5625rem;
    .section-header{
        margin-bottom: -1rem;
    }
    @at-root .description{
        font: 1rem $text-font;
    }
    @at-root .map {
        outline: 6px solid white;
        outline-offset: -6px;
        @include box-shadow(0px, 2px, 5px, 0px, rgba(0,0,0,0.25));
    }
}
