.team {
    padding-bottom: 5.0625rem;
    background-color: #f3f3f3;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    @at-root .team-item {
        background-color: white;
        margin-left: 0.9375rem;
        margin-right: 0.9375rem;
        margin-bottom: 2rem;
        width: 12.5rem;
        height: 13.125rem;
        @include box-shadow(0px, 2px, 4px, 0px, rgba(0,0,0,0.2));
     
    }
    @at-root .teammate-position {
        font: 0.75rem $italic-font;
    }
    
    @at-root .social-wrap{
        margin-top: 0.85rem;
    }
}


