@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeorgiaItalic';
  src: url("../fonts/Georgia-Italic.eot");
  src: url("../fonts/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia-Italic.woff2") format("woff2"), url("../fonts/Georgia-Italic.woff") format("woff"), url("../fonts/Georgia-Italic.ttf") format("truetype"), url("../fonts/Georgia-Italic.svg#Georgia-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

.header {
  background-image: url("../images/header-image.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  height: calc(100vh - 63px);
}

@media (min-width: 768px) {
  .header {
    height: calc(100vh - 100px);
  }
}

.header__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  -ms-grid-column: 1;
  grid-column: 1;
  margin-bottom: 0.25rem;
}

@media (min-height: 768px) {
  .header__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.header__text .page-description {
  color: #303030;
  margin-top: 1rem;
  font-family: "GeorgiaItalic", sans-serif;
  font-size: 1rem;
}

.down-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
  -ms-grid-column: 1;
  grid-column: 1;
}

.navbar {
  background-color: white;
}

@media (min-width: 768px) {
  .navbar {
    line-height: 4.25rem;
  }
}

.navbar-brand {
  color: #303030;
  font-family: "Gotham-Book", sans-serif;
  font-size: 1.56rem;
}

.navbar-toggler-icon {
  background-image: url("../images/menu-button.svg");
}

.nav-link {
  font-family: "Gotham-Medium", sans-serif;
  font-size: 0.75rem;
  color: #666666;
}

@media (min-width: 768px) {
  .nav-link {
    margin-right: 6.25rem;
  }
  .nav-link:last-child {
    margin-right: 0rem;
  }
  .nav-link:first-child {
    margin-left: 1rem;
  }
}

.section-header {
  text-align: center;
  max-width: 33.375rem;
  margin: auto;
  padding-top: 2.70rem;
  padding-bottom: 2.370rem;
}

.section-header .h2 {
  font-size: 1.875rem;
}

.section-header .section-description {
  font-family: "ProximaNova", sans-serif;
  padding: 0 1rem;
}

.section-header .h2::after {
  content: "";
  display: block;
  background-color: #303030;
  height: 0.1875rem;
  width: 15rem;
  margin: 1rem auto 1.75rem auto;
}

.footer {
  background-color: #666666;
  min-height: 5rem;
  font: 1rem "ProximaNova", sans-serif;
  color: #999999;
}

.work {
  margin-bottom: 0.625rem;
}

.work-item {
  margin-bottom: 3rem;
}

@media (min-width: 576px) {
  .work-item {
    margin-bottom: 3.75rem;
  }
}

.team {
  padding-bottom: 5.0625rem;
  background-color: #f3f3f3;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.team-item {
  background-color: white;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  margin-bottom: 2rem;
  width: 12.5rem;
  height: 13.125rem;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.teammate-position {
  font: 0.75rem "GeorgiaItalic", sans-serif;
}

.social-wrap {
  margin-top: 0.85rem;
}

.contact {
  padding-bottom: 4.5625rem;
}

.contact .section-header {
  margin-bottom: -1rem;
}

.description {
  font: 1rem "ProximaNova", sans-serif;
}

.map {
  outline: 6px solid white;
  outline-offset: -6px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.contact__form {
  font: 1rem "GeorgiaItalic", sans-serif;
  max-width: 33.75rem;
  width: 100%;
  height: 22.75rem;
}

.contact__form .input-email, .contact__form .textarea {
  background-color: #f2f2f2;
  border-radius: 0rem;
  border: 1px solid #d9d9d9;
  padding: 1.5rem;
}

.contact__form .input-email::-webkit-input-placeholder, .contact__form .textarea::-webkit-input-placeholder {
  color: #666666;
}

.contact__form .input-email:-ms-input-placeholder, .contact__form .textarea:-ms-input-placeholder {
  color: #666666;
}

.contact__form .input-email::-ms-input-placeholder, .contact__form .textarea::-ms-input-placeholder {
  color: #666666;
}

.contact__form .input-email::placeholder, .contact__form .textarea::placeholder {
  color: #666666;
}

.contact__form .textarea {
  height: 14.625rem;
  resize: none;
}

.contact__form .input-email {
  max-width: 19.5rem;
  height: 3.75rem;
}

@media (max-width: 576px) {
  .contact__form .input-email {
    max-width: inherit;
  }
}

.contact__form .btn {
  max-width: 12.8125rem;
  height: 3.75rem;
  border-radius: 0rem;
  border: 2px solid white;
  background-color: #6995a9;
  color: white;
  font: 1rem "Gotham-Bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

body {
  color: #303030;
}

.container {
  max-width: 58.125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Gotham-Bold", sans-serif;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */